body,html {
    margin: 0;
    height: 100%;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
#booking
{
	width:100%;
	background-color:#fefffe;
	opacity:0.9;
	padding:40px 0px;
	border-radius:15px;
	text-align: center;
}

.booking-form
{
	text-align:center;
	margin:60px 250px;
	color:rgb(0, 0, 0);
	font-size:130%;
    
}

.inputBox
{
	width:400px;
	padding:10px;
	border-radius:8px;
	font-size:100%;
	
}

.inputBoxTab
{
	width:400px;
	padding:10px;
	border-radius:8px;
	font-size:100%;
    margin-left: 30px;
}

#inputText
{
	width:700px;
	padding:10px;
	border-radius:8px;
	font-size:100%;
}

#vt
{
	width:100px;
	padding:10px;
	border-radius:8px;
	font-size:102%;
}

#bookBut
{
	width:120px;
	padding:10px;
	border-radius:5px;
	outline: 10px;
	background-color:#04c004;
	border:1px solid rgb(45, 202, 6);
	color:#ffffff;
	font-size:20px;
	cursor: pointer;
}

#bookBut:hover
{
	background-color:#09925e;
	width:120px;
}

#bookButTab
{
	width:120px;
	padding:10px;
	border-radius:5px;
    margin-left: 30px;
	outline: 10px;
	background-color:#090df8;
	border:1px solid rgb(8, 51, 194);
	color:#ffffff;
	font-size:20px;
	cursor: pointer;
}

#bookButTab:hover
{
	background-color:#095af0;
	width:120px;
}

#bookButTabC
{
	width:120px;
	padding:10px;
	border-radius:5px;
    margin-left: 30px;
	outline: 10px;
	background-color:#e90000;
	border:1px solid red;
	color:#ffffff;
	font-size:20px;
	cursor: pointer;
}

#bookButTabC:hover
{
	background-color:#9e0a0a;
	width:120px;
}

#imgButTab
{
	width:280px;
	padding:5px;
	border-radius:5px;
    margin-left: 30px;
	outline: 10px;
	background-color:#ddc704;
	border:1px solid rgb(191, 194, 8);
	color:#ffffff;
	font-size:20px;
	cursor: pointer;
}

#imgButTab:hover
{
	background-color:#c2af03;
	width:280px;
}

.backStyle
{
    background-image:url(./adminBackground.jpg);
    background-size: cover;
   
    height: 100%;
    
    overflow: hidden;
	text-align: center;
}

.ErrorMsg
{
	margin-left: 50px;
}

.RErrorMsg
{
	margin-right: 150px;
}