.successButton{
    width: 210px;
    height: max-content;
    font-size: large;
    background-color: #155ECB;
    border: 2px solid #155ECB ;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5%;
    margin-right: 10px;

}


.cancelButton{
    width: 210px;
    height: max-content;
    font-size: large;
    background-color: #C01649;
  border: 2px solid #C01649 ;
    border-radius: 12px;
    
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5%;

}

.successButton:hover{
    border: solid rgb(8, 0, 65) 2px ;
    border-style: groove;
}
.cancelButton:hover{
    border: solid rgb(8, 0, 65) 2px ;
}