.successButton{
    width: max-content;
    font-size: large;
    background-color: #155ECB;
    border: solid white 2px ;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5%;

}


.cancelButton{
    width: max-content;
    font-size: large;
    background-color: #C01649;
    border: solid white 2px ;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 5%;

}