body, html  {
    height: 100%;
    background-size: cover;
}

.img-fluid{
    background-image: url('./createformbackground.jpg');
    background-size: 100%;
    max-height: inherit;
    
    

}

.form-header{
    font-size: 48px;
    font-style: normal;
    text-align: center;

}

.from-label{
    font-size: 18px;
    
}

.createContainer{
    margin: 100px auto;
    background-color: rgba(229, 243, 243, 0.7);
    border-radius: 15px;
    width: 1000px;
    height: 100%;
}

#blogForm{
    padding: 50px;
}