body,html{
    height: 100%;
}
.mealHome{
    height: 100vh;
    background-color: rosybrown;
    background-image: url('../../images/background.jpg');
    background-size: cover;

}
.mealPlanHeading{
    text-align: center;
    color: white;
    margin-top: 4%;
}
.addNewMain{
    background-image: url('../../images/background2.jpg');
    font-family: Arvo;
}
.formContainer{
    background-color: white;
    margin: 5%;
    padding: 3%;
}

.formTitle{
    margin-top: 1%;
    text-align: center;
}
.basicInput{
    margin-bottom: 20px;
}
.dayHeading{
    font-weight: bold;
}
.daySection{
    margin-bottom: 30px;
}
.allDays{
    height: 500px;
    overflow: scroll;
}
.buttonHolder{
    justify-content: center;
    align-items: center;
}
.listMealMain{
    font-family: Arvo;
}
.mealListImgHolder{
    height: 263.05px;
    width: 364px;
    border-radius: 3%;
}

.mealListItemContainer{
     margin-top: 10%;
}
.mlistTitle{
    margin-top: 4%;
    font-weight: bold;
}
.mItemDesc{
    margin-top: 4%;
}
.mItemDesc p{
    width: 400px;


}

.redmoreLink{
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 12px;
}
.sBuIL{
   
}

.mealcover{
    background-image: url('../../images/cover.jpg');
    height: 400px;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
}

.coverTitle{

   color: white;
   font-family: Arvo;
   font-size: 40px;
}
.singleViewItem{
    background-color:#e0dfdf ;
    height: 200px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    border:1px solid black;
    padding: 20px;
    
}
.singleViewItem h6{
 color: green;
}
.mealrowContainer{
    padding: 7px;
    margin-left: 30px;
    text-align: center;
    margin-top: 30px;
}
.mealDate{
    font-weight: bold;
    margin-bottom: 40px;
}
.userMealListContainer{
    margin: 0%;
  
}