.usermealListItemContainer{
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Arvo',sans-serif;
    width: 100%;
    margin-bottom: 10px;
   

}

@media only screen and (max-width: 600px) {
    .usermealListItemContainer{
        margin-left: 10px;
        margin-top: 10px;
    
    }
    .MealLearnMoreButton{
        margin: 0%;
        
    }
}
.userMealPlanTopic{

    font-weight: bold;
    font-size: 36px;

}

.userMealPlanDescription{
    
    font-size: 20px;

}

.userMealPlanButton{
    float: right;

}
.MealLearnMoreButton{
    
    font-size: 20px;
    border: 2px solid black;
    vertical-align: middle;
    text-align: center;
    width: 190px;
    /* height: 50px; */
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}
.LinkDesign{
    color: black;
    text-decoration: none;

}
.LinkDesign:hover{
    color: black;
    
    text-decoration: underline;
}

/* .MealLearnMoreButton:hover{
    
   
    cursor: pointer;
    color: black;
} */
.userMealPlaneImageHolder{
    width: 352px;
    height: 244px;
    border-radius: 8px;
   
}



.RegMainContainer{

    /*background-color: brown;*/
    height:100vh;

    background-image: url('../../images/cover.jpg');
}
.mealButtonDesign{
    width: 325px;
    height: 44px;
    /* padding-top:13.5px ;
    padding-bottom: 13.5px; */
    margin-top: 30px;
    text-align: center;
    border-radius: 8px;
    margin-right: 40px;
    margin-bottom: 50px;
}

@media only screen and (max-width :600px){
    .RegMainContainer{

        /*background-color: brown;*/
        height:100%;
    
        background-image: url('../../images/cover.jpg');
    }
    .mealButtonDesign{
        margin-bottom: 5px;
    }

}

.FormContainer{
    margin-top: 10px;
    background-color: white;
    height: max-content;
    border-radius: 8px;
    border: 1px solid #D1D1D1 ;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    
    margin-bottom: 30px;

}
.commonInput{
    height: 45px;
    border:#ACACAC 1px solid ;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 25px;
    border-radius: 8px;
    /* width:325px ; */
}
.FormHeading{
    text-align: center;
}

@media only screen and (min-width:768px) {
    .inlineInput{
        width: 470px;
        
    }
    .inlineInput:nth-child(1){
        margin-right: 45px;
    }
    .expDate{
        margin-right: 45px;
    }
   
    
    
}
.mealTable{
    margin-top: 30px;
    
}