.blogtitle{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgb(13, 57, 139);
}

.blogimg{
    width: 600px;
    height: 400px;
    margin-left: 200px;
}

.bodycontent{
    width: 1000px;
    padding: 20px;
    height: 1000px;
    font-size: 18px;
}

.date{
    font-weight: bolder;
    font-size: 12px;
}

.commentsection{
    width: 800px;
    margin-left: 80px;
    border-width: 5px;
    border-color: blue;
}

.commentheader{
    background-color: rgb(75, 201, 206);
    border-color: crimson;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.text-muted{
    
}

.right{
    float: right;
    size: 8px;
}
